spring:
  application:
    name: spring-boot-bulk-insert
  datasource:
    url: jdbc:mysql://localhost:3306/my_db?rewriteBatchedStatements=true&profileSQL=true&logger=Slf4JLogger&maxQuerySizeToLog=999999
    username: user
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          batch_size: 100
          batch_versioned_data: true
        order_inserts: true
        order_updates: true
  flyway:
    enabled: true
    baseline-on-migrate: true
